

.row
  .col-md-3
    = link_to t('.clean_filters'), house_rules_path, class: 'btn btn-default clean-filters'
    #tag_cloud
  .col-md-9
    = link_to t('.new_house_rule'), new_house_rule_path, class: 'btn btn-primary' if can? :create, HouseRule
    %br
    %br

    %ul.nav.nav-tabs
      %li.active
        %a{ href: '#all', :'data-toggle' => 'tab'}= t '.all_house_rules'
      %li
        %a{ href: '#favorites', :'data-toggle' => 'tab'}= t '.favorites'

    .tab-content
      .tab-pane.active#all

        %br
        = render 'list', house_rules: @house_rules
      .tab-pane.active#favorites

        %br
        = render 'list', house_rules: current_user.favorites.map(&:favable)
