%fieldset#stress-tracks-panel
  %h2.header= "#{t("activerecord.models.stress_track", count: 2)}"
  = link_to_add_association f, :stress_tracks, partial: "shared/stress_track_fields", data: { :'association-insertion-traversal' => :next, :'association-insertion-method' => :append }, render_options: { locals: { levels: [{ level: 1, checked: false }, { level: 2, checked: false }, { level: 3, checked: false }, { level: 4, checked: false } ] }} do
    .fa.fa-plus
  = f.fields_for :stress_tracks do |s|
    = render "shared/stress_track_fields", f: s
