
= content_for :heading do
  .home__heading
    %h1.home__title= t(".title")

.home__content
  .row
    .col-sm-12
      %h2.home__subtitle= t(".create_character")

  .row
    .col-md-3
      = link_to new_character_path, class: "home__create-character-btn-outer" do
        %span.home__create-character-btn-inner= t(".create_fate_core_btn")
    .col-md-3
      = link_to new_character_path(skill_group_id: SkillGroup::FATE_ACCELERATED), class: "home__create-character-btn-outer" do
        %span.home__create-character-btn-inner= t(".create_fae_btn")

  .row
    .col-md-12
      %h3.home__community-characters__title= t(".community_characters")
      %ul.list-unstyled.characters-list
        - @characters.each do |c|
          %li.character-list-item
            .character-list-item__line-icon.hidden-xs FC
            .character-list-item__stats
              %span.character-list-item__name= c.name
              - if !current_user.new_record? && c.user_id == current_user.id
                = link_to edit_character_path(c), class: "character__edit-link" do
                  %span.fa.fa-pencil.character-list-item__action-icon
              = link_to character_path(c), class: "character__edit-link" do
                %span.fa.fa-print.character-list-item__action-icon
              %br
              %span.character-list-item__concept= truncate c.description, :length   => 100, :separator => /\w/
            .character-list-item__user= t(".created_by", user: c.user_name) unless c.user.nil?
            .character-list-item__tags
            .character-list-item__sheet
              .row
                .col-md-4
                  = render "characters/aspects", aspects: c.aspects
                .col-md-4
                  = render "characters/skills", ratings: c.ratings
                .col-md-4
                  = render "characters/stunts", stunts: c.stunts
