
= content_for :heading do
  .home__heading
    %h1.home__title= t(".title")

.home__content
  .row
    .col-sm-12
      %h2.home__subtitle= t(".create_character")

  .row
    .col-sm-12
      = link_to new_character_path, class: "home__create-character-btn-outer" do
        %span.home__create-character-btn-inner= t(".create_fate_core_btn")

  .row
    .col-sm-12
      %h3.home__community-characters__title= t(".community_characters")
      %ul.list-unstyled.characters-list
        - @characters.each do |c|
          %li.character
            .character__line-icon FC
            .character__stats
              %span.character__name= c.name
              %br
              %span.character__concept= c.description
            .character__tags 
            .character__sheet
              .row.character__sheet-content
                .col-sm-4
                  %span.character__sheet-title= t("activerecord.models.aspect", count: 2)
                  %ul.list-unstyled.character__aspects
                    - c.aspects.each do |a|
                      %li.character__aspect= a.name
                .col-sm-4
                  %span.character__sheet-title= t("activerecord.models.skill", count: 2)
                  %ul.list-unstyled.character__skills
                    - @campaign.skill_cap.downto(1) do |level|
                      %li
                        .row
                          .col-xs-1
                            %span= "+#{level}"
                          .col-xm-10
                            %ul.list-inline
                              - c.ratings.select{ |r| r.level == level }.each do |r|
                                %li.character__skill= r.skill_name
                .col-sm-4
                  %span.character__sheet-title= t("activerecord.models.stunt", count: 2)
                  %ul.list-unstyled.character__stunts
                    - c.stunts.each do |s|
                      %li.character__stunt
                        %span.character__stunt-name= s.name
                        %p.character__stunt-name= s.description
