.character
  .character__stats
    %span.character__name= character.name
    .character__user= t(".created_by", user: character.user_name) unless character.user.nil?
    %span.character__concept= character.description
  .character__tags
  .row
    .col-xs-6
      = render "aspects", aspects: character.aspects
    .col-xs-6
      = render "skills", ratings: character.ratings
  .row
    .col-xs-6
      = render "stress_tracks", stress_tracks: character.stress_tracks
    .col-xs-6
      %span.character__sheet-title= t("activerecord.models.consequence", count: 2)
      %ul.list-unstyled.character__skills
        - [:mild, :moderate, :severe].each do |level|
          - character.consequences.send(level).each do |c|
            %li
              .row
                .col-xs-3
                  %span.character__stress-track-label= "#{t("activerecord.attributes.consequence.#{level}")} (#{c.level})"
                .col-xs-9
                  %span= c.description

  .row
    .col-xs-6
      = render "stunts", stunts: character.stunts

