= s.input :id, as: :hidden
= s.input :level, as: :hidden
= s.input :name, as: :hidden
= s.input :skill_id, as: :hidden
= s.input :skill_level_to_unlock, as: :hidden
= s.input :description, label: s.object.level, placeholder: s.object.name.humanize
