
= simple_form_for @character, html: { class: 'character' } do |f|
  .row
    %fieldset#character-fields
      %h2= t("controllers.characters.id")
      .row
        .character-name
          = f.input :name, label: false, placeholder: t("activerecord.attributes.character.name")
          = f.input :description, label: false, placeholder: t("activerecord.attributes.character.description")
        .character-refresh
          = f.input :refresh, label: false, placeholder: t("activerecord.attributes.character.refresh")
    #fate-logo
      = image_tag image_url('fate-logo.png')
  .row
    %fieldset#aspects-panel
      %h2= t("controllers.characters.aspects")
      = f.fields_for :aspects do |a|
        - # Boa noite, Vitor do futuro. Essa foi a linha mais desnecessariamente complexa que você escreveu até o dia 19 de Março de 2014.
        - # Se você encontrou um problema com ela, eu deixo aqui minhas sinceras desculpas.
        = a.input :id, as: :hidden
        = a.input :name, label: false, placeholder: "#{ Array.new(f.object.aspects.size) { |index| if index == 0; t("activerecord.attributes.character.high_concept"); elsif index == 1; t("activerecord.attributes.character.trouble"); else "" end }[a.index] }"

    #skill-panel
      %h2= t("controllers.characters.skills")
      %fieldset#skills
        - Ladder.new.to_h(from: :great, to: :average).each_pair do |name, level|
          %div{ class: name }
            .skill-row.row
              .rating-level
                %span.rating= "#{name.to_s.humanize} (+#{level})"
              .slots
                = f.fields_for :ratings, @character.ratings.select{ |r| r.level == level } do |r|
                  .slot{ class: r.object.skill_id.present? ? "with-skill" : nil }
                    %span.name= "#{r.object.skill.name if r.object.skill.present? }"
                    = r.input :id, as: :hidden
                    = r.input :skill_id, as: :hidden
                    = r.input :level, as: :hidden, input_html: { value: level }

      #skill-drawer.hidden-print
        #skill-list.collapse
          - @skills.each do |skill|
            .skill{ data: { id: skill.id } }= skill.name if skill.present?
        #link
          %button{ type: "button", class: "btn btn-sm", 'data-toggle' => "collapse", 'data-target' => "#skill-list" }= "Skill List"
  .row
    %fieldset#stunts-panel
      %h2= t("controllers.characters.stunts")
      = f.fields_for :stunts do |s|
        = s.input :id, as: :hidden
        = s.input :name, label: false, placeholder: t("activerecord.attributes.stunt.name")
        = s.input :description, label: false, placeholder: t("activerecord.attributes.stunt.description")
    %fieldset#extras-panel
      %h2= t("controllers.characters.extras")
      = f.fields_for :extras do |s|
        = s.input :id, as: :hidden
        = s.input :name, label: false, placeholder: t("activerecord.attributes.extra.name")
        = s.input :description, label: false, placeholder: t("activerecord.attributes.extra.description")
  .row
    %fieldset#stress-tracks-panel
      = f.fields_for :stress_tracks do |s|
        %h2= "#{s.object.name.humanize} #{t("controllers.characters.stress_tracks")} (#{s.object.skill_name})"
        = s.input :id, as: :hidden
        = s.input :name, as: :hidden
        = s.input :skill_id, as: :hidden
        = s.fields_for :stress_levels do |l|
          = l.input :id, as: :hidden
          = l.input :level, as: :hidden
          = l.input :checked, label: l.object.level, label_html: { class: l.object.checked? ? 'checked' : nil }

    %fieldset#consequences-panel
      %h2= t("controllers.characters.consequences")
      .row
        %fieldset#fixed-consequences
          = f.fields_for :consequences, @character.consequences.select{ |c| c.skill_id.nil? } do |s|
            = render 'consequence_fields', s: s
        %fieldset#extra-consequences
          = f.fields_for :consequences, @character.consequences.select{ |c| c.skill_id.present? } do |s|
            = render 'consequence_fields', s: s
  .row
    = f.button :submit, class: 'hidden-print'
