
= simple_form_for @character, html: { class: 'character-form form' } do |f|
  .row
    %fieldset#character-fields.col-sm-6
      %h2.header= t(".id")
      .character-name
        = f.input :name, label: false, placeholder: t("activerecord.attributes.character.name")
        = f.input :description, label: false, placeholder: t("activerecord.attributes.character.description"), input_html: { rows: 6 }
  .row
    .col-sm-12
      = f.button :submit
