
= simple_form_for @character, html: { class: 'character-form' } do |f|
  .row
    %fieldset#character-fields.col-sm-6
      %h2.header= t(".id")
      .character-name
        = f.input :name, label: false, placeholder: t("activerecord.attributes.character.name")
        = f.input :description, label: false, placeholder: t("activerecord.attributes.character.description"), input_html: { rows: 6 }
      .character-refresh
        = f.input :refresh, label: false, placeholder: t("activerecord.attributes.character.refresh")

    %fieldset#aspects-panel.col-sm-6
      %h2.header= t(".aspects")
      = f.fields_for :aspects do |a|
        - # Boa noite, Vitor do futuro. Essa foi a linha mais desnecessariamente complexa que você escreveu até o dia 19 de Março de 2014.
        - # Se você encontrou um problema com ela, eu deixo aqui minhas sinceras desculpas.
        - # Boa noite. são 28 de Novembro de 2015 e essa linha ainda funciona. Na verdade nem é tão complexa assim. Você é que era mais burro.
        - # Boa tarde. São 8 de Setembro de 2016. Não seja tão mau com o HP de 2014. A linha dele ainda funciona ao contrário de umas coisas que vc fez.
        = a.input :id, as: :hidden
        = a.input :name, label: false, placeholder: "#{ Array.new(f.object.aspects.size) { |index| if index == 0; t("activerecord.attributes.character.high_concept"); elsif index == 1; t("activerecord.attributes.character.trouble"); else "" end }[a.index] }"
  .row
    #skill-panel.col-sm-12
      %h2.header= t(".skills")
      %fieldset#skills
        - Ladder.new.to_h(from: Campaign.vanilla_fate_core.skill_cap, to: :averag).each_pair do |name, level|
          %div{ class: name }
            .skill-row.skills.row
              .rating-level.col-sm-2
                %span.rating= "#{t("ladder.#{name.to_s}")} (+#{level})"
              %ul.slots.list-inline.col-sm-10
                = f.fields_for :ratings, @character.ratings.select{ |r| r.level == level } do |r|
                  %li
                    = r.input :id, as: :hidden
                    = r.input :skill_id, collection: Skill.from_skill_group(params[:skill_group_id] || SkillGroup::FATE_CORE).sort_by{ |s| s.name }, label: false
                    = r.input :level, as: :hidden, input_html: { value: level }

  .row
    %fieldset#stunts-panel.col-sm-6
      %h2.header= t(".stunts")
      = f.fields_for :stunts do |s|
        = s.input :id, as: :hidden
        = s.input :name, label: false, placeholder: t("activerecord.attributes.stunt.name")
        = s.input :description, label: false, placeholder: t("activerecord.attributes.stunt.description")
    %fieldset#extras-panel.col-sm-6
      %h2.header= t(".extras")
      = f.fields_for :extras do |s|
        = s.input :id, as: :hidden
        = s.input :name, label: false, placeholder: t("activerecord.attributes.extra.name")
        = s.input :description, label: false, placeholder: t("activerecord.attributes.extra.description")
  .row
    %fieldset#stress-tracks-panel.col-sm-6
      = f.fields_for :stress_tracks do |s|
        %h2.header= "#{t("activerecord.attributes.stress_track.#{s.object.name.parameterize.underscore}")} (#{s.object.skill_name})"
        = s.input :id, as: :hidden
        = s.input :name, as: :hidden
        = s.input :skill_id, as: :hidden
        %ul.list-inline.character-form__stress-track
          = s.fields_for :stress_levels do |l|
            %li.character-form__stress-box
              = l.input :id, as: :hidden
              = l.input :level, as: :hidden
              = l.input :checked, label: l.object.level

    %fieldset#consequences-panel.col-sm-6
      %h2.header= t(".consequences")
      .row
        %fieldset#fixed-consequences.col-sm-6.form-horizontal
          .row
            = f.fields_for :consequences, @character.consequences.select{ |c| c.skill_id.nil? } do |s|
              = render 'consequence_fields', s: s
        %fieldset#extra-consequences.col-sm-6
          .row
            = f.fields_for :consequences, @character.consequences.select{ |c| c.skill_id.present? } do |s|
              = render 'consequence_fields', s: s
  .row
    .col-sm-12
      = f.button :submit
