
= simple_form_for @character, html: { class: 'character-form form' } do |f|
  .row
    %fieldset#character-fields.col-sm-12
      %h2.header= t(".id")
      .character-name
        = f.input :name, label: false, placeholder: t("activerecord.attributes.character.name")
        = f.input :description, label: false, placeholder: t("activerecord.attributes.character.description"), input_html: { rows: 6 }
  .row
    %fieldset#mental-attributes.col-sm-4
      = render "skill_group", f: f, skill_group: @character.mental_attributes
    %fieldset#physical-attributes.col-sm-4
      = render "skill_group", f: f, skill_group: @character.physical_attributes
    %fieldset#social-attributes.col-sm-4
      = render "skill_group", f: f, skill_group: @character.social_attributes
  .row
    .col-sm-4
      %fieldset#mental-skills
        %h2.header= t(".mental")
        = render "skill_group", f: f, skill_group: @character.mental_skills
      %fieldset#physical-skills
        %h2.header= t(".physical")
        = render "skill_group", f: f, skill_group: @character.physical_skills
      %fieldset#social-skills
        %h2.header= t(".social")
        = render "skill_group", f: f, skill_group: @character.social_skills
    .col-sm-4
      %fieldset#flaws
        %h2.header= t(".merits")
        = link_to_add_association f, :ratings, data: { :'association-insertion-traversal' => :next, :'association-insertion-method' => :append } do
          .fa.fa-plus
      %fieldset#flaws
        %h2.header= t(".flaws")
    .col-sm-4
      %fieldset#health
        %h2.header= t(".health")
      %fieldset#willpower
        %h2.header= t(".willpower")
      %fieldset#morality
        %h2.header= t(".morality.human")

  .row
    .col-sm-12
      = f.button :submit
