
= render "id", f: f
= render "attributes", f: f
.row
  .col-sm-4
    = render "skills", f: f
  .col-sm-4
    = render "merits_and_flaws", f: f
  .col-sm-4
    = render "health_and_willpower", f: f
    = render "morality", f: f
