.nested-fields
  .row
    .col-xs-6
      = f.input :skill_id, label: false, collection: SkillGroup.merits.all, as: :grouped_select, group_method: :skills
      = link_to_remove_association f do
        .fa.fa-times
    .col-xs-6
      .skill
        = f.input :id, as: :hidden
        = f.input :skill_id, as: :hidden
        = f.input :level, as: :hidden, input_html: { class: "skill__level-input" }
        %label= f.object.skill_name
        - (1..5).to_a.reverse.each do |a|
          .skill__check{ data: { value: a }, class: f.object.level >= a ? "skill__check--checked" : nil }
