
= simple_nested_form_for [@campaign, @skill_group] do |f|
  = f.input :name
  = f.fields_for :skills do |s|
    = s.input :id, as: :hidden
    = s.input :name
    = s.link_to_remove t(".remove_skill")
  = f.link_to_add t(".add_skill"), :skills
  %br

  = f.button :submit
