
= link_to t('.new_skill_group'), new_custom_skill_group_path, class: 'btn btn-primary' if can? :create, SkillGroup

%h2.header= t(".core_skill_groups")

%ul.skill-groups
  - @skill_groups.each do |sg|
    %li.panel.panel-default
      .panel-heading
        %span.name= sg.name
      .panel-body
        %ul.skills
          - sg.skills.each do |s|
            %li
              .skill= s.name

- if current_user.custom_skill_groups.any?
  %h2.header= t(".custom_skill_groups")

  %ul.skill-groups
    - @custom_skill_groups.each do |sg|
      %li.panel.panel-default
        .panel-heading
          %span.name= sg.name
          = link_to t(".destroy_skill_group"), custom_skill_group_path(sg), method: :delete, class: 'btn btn-danger pull-right' if can?(:destroy, sg)
          = link_to t(".edit_skill_group"), edit_custom_skill_group_path(sg), class: 'btn btn-default pull-right' if can?(:edit, sg)
        .panel-body
          %ul.skills
            - sg.skills.each do |s|
              %li
                .skill= s.name
