
= simple_form_for @campaign, html: { class: 'campaign-form form' } do |f|
  = f.error :base
  .row
    %fieldset.col-md-12
      %h2.header= t(".new_campaign")
      = f.input :name, label: false, placeholder: t("activerecord.attributes.campaign.name")
  .row
    %fieldset.col-md-12
      = render "shared/aspects_form", f: f

