%dl.dl-horizontal
  %dt= t('activerecord.attributes.campaign.name')
  %dd= @campaign.name
  %dt= t('activerecord.attributes.campaign.number_of_aspects')
  %dd= @campaign.number_of_aspects
  %dt= t('activerecord.attributes.campaign.number_of_initial_stunts')
  %dd= @campaign.number_of_initial_stunts
  %dt= t('activerecord.attributes.campaign.refresh_rate')
  %dd= @campaign.refresh_rate
  %dt= t('activerecord.attributes.campaign.skill_cap')
  %dd= @campaign.refresh_rate

  %br
  = link_to t('.edit_campaign'), edit_campaign_path(@campaign), class: 'btn btn-default'

  %h2.header= t('.skills')

  %ul.skills
    - @campaign.skills.each do |s|
      %li
        .skill= s.name

  %h2.header= t('.characters')

  %ul.characters
    - @campaign.characters.each do |c|
      %li
        .character= link_to c.name, edit_campaign_character_path(c, campaign_id: @campaign)

  = link_to t('.new_character'), new_campaign_character_path(campaign_id: @campaign), class: 'btn btn-primary'

